//font-sizes
$small-font: 0.8rem;
$normal-font: 1rem;
$big-font: 1.5rem;


// colors
$primary-color: #fff159;
$background-color: #ebebeb;

$primary-gray: #ededee;
$gray-font: #666;

$white: #fff;
$black: #000;
$box-shadow-color: rgba(0, 0, 0, .1);