@import "styles/variables.scss";

.header {
  background-color: $primary-color;
  position: fixed;
  z-index: 999;
  width: 100%;
  &__container {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 0.5rem 0.8rem;

    @media (min-width: $sm-breakpoint) {
      width: 80%;
      margin: auto;
    }
  }

  &__navLogo {
    display: flex;

    img {
      height: 2rem;
      margin: auto 0;
      background-repeat: no-repeat;
      object-fit: contain;
    }
  }
}